html {
  width: 100%;
}

body {
  width: 100%;
  background-image: url("../back2.jpg");
}
			.grid {
				height: 500px;
				width: 500px;
				display: flex;
				flex-direction: column;
			}

					.line {
						width: 100%;
						height: 100%;
						display: flex;
					}

					.to-hide {
						border: 1px solid rgba(153, 163, 180,0);
						border-top: none;
						border-left: none;
					}

					.chars1, .nums1, .chars2, .nums2 {
						border: 1px solid rgb(153, 163, 180);
						background-color: rgba(198,205,205, .3);
					}

					.field1, .field2 {
						border: 1px solid rgb(153, 163, 180);
						background-color: rgba(198,205,205, .8);
					}

							.cell {
								width: 100%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
							}

									.touched {
										background-image: url("../img/touched.png");
										background-size: cover;
									}

									.splash {
										background-image: url("../img/splash.png");
										background-size: cover;
									}
